
			/*Változók deklarálása*/
			
			/*Háttér beállítása*/
			body {
				height: auto;
				width: auto;
				background: linear-gradient(135deg, #222, #222);
			}
			
			.text {
				display: block;				
				color: #f00;
				font-weight: bold;
				text-align: center;
				font-family: tahoma;
				text-decoration: none;
				font-size: clamp(10px, 2vw, 30px)
			}
				
			.shadow {
				text-shadow:
							2px 2px black;				
			}
			
			.textborder {
				text-shadow:
							-1px 0 #200,
							-1px -1px #200,
							0 -1px #200,
							1px -1px #200,
							1px 0 #200,
							1px 1px #200,
							0 1px #200,
							-1px 1px #200;
				
			}
			
			.text-box {
				display: inline-block;
				margin: 0 auto;
				padding: 10px;
				background-color: rgba(200, 200, 200, 0.9);
				border-radius: 10px;
			}
			
			.div-background {
				background-color: rgba(200, 200, 200, 0.9);
				border-radius: 20px;
				
			}
			
			.button {
				display: inline-block;
				text-shadow:
							2px 2px black;
				color: #A00;
				font-weight: bold;
				text-align: center;
				font-family: tahoma;
				width: auto;
				background-color: black;
				box-shadow: 0 0 5px 5px #CCC;
				border: 2px solid grey;
				border-radius: 5px;
			}
			
			.buttonBig {
				display: inline-block;
				text-shadow:
							2px 2px black;
				color: #A00;
				font-weight: bold;
				text-align: center;
				font-family: tahoma;
				max-width: 50%;
				background-color: black;
				box-shadow: 0 0 5px 5px #CCC;
				border: 2px solid grey;
				border-radius: 5px;
				width: 350px;
				height: 100px;
				font-size: clamp(5px, 10vw, 30px);
				margin: 30px;
				
			}
			
			.chartMachine {
				background-color: rgba(40, 40, 40, 0.8);
				
			}
			
			/* fekete-fehér szegély */
			.BW-border-outside {
				display: inline-block;
				width: auto;
				border: 2px solid white;
				border-radius: 20px;
				background-color: black;
				box-shadow: 0 0 5px 5px white;
				text-align: center;
			}
			
			.BW-border-inside {
				display: inline-block;
				margin: 5px;
				padding: 20px;
				width: auto;
				border: 2px solid white;
				border-radius: 20px;
				background-color: #111;
			}
			
			
			/* blokkok igazítása */
			.middle {
				display: block;
				margin: 0 auto;
				text-align: center;
			}
			
			.spacing {
				margin-top: 100px;
				
			}
			
			.image {
				max-width: 100%;
			}
			
			